* {
	margin: 0;
	padding: 0;
	outline: 1rem black;
}
body {
	font-size: 15px;
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	text-align: center;
}

p {
	padding: 1rem;
	color: hsl(216, 15%, 48%);
	font-weight: 400;
}

h2 {
	color: hsl(218, 44%, 22%);
	font-weight: 700;
}

#mainContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: hsl(212, 45%, 89%);
}

.card {
	width: 18rem;
	padding: 1rem;
	background-color: hsl(0, 0%, 100%);
	border-radius: 1rem;
}

#imgQR {
	height: 18rem;
	border-radius: 1rem;
	background-image: url(./images/image-qr-code.png);
	background-size: contain;
}

#info-QR {
	margin-top: 1rem;
}
